#story {
    padding-top: 63px;
    left: 0;
    width: 100%;
    margin-bottom: 1px;
    clear: both;
}

#story .storyimg {
    filter: brightness(70%);
    object-fit: cover;
    height: 600px;
    width: 100%;
    z-index: -1;
}

#story .storybntxt {
    z-index: 1;
    margin-top: -25%;
    color: white;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

#story .storybntxtl {
    font-size: 400%;
    font-weight: 700;
    text-shadow: 10px 10px 10px #444;
}

#story .storybntxtm {
    margin-top: -2%;
    font-size: 133%;
    font-weight: 400;
    text-shadow: 5px 5px 10px #444;
}

#story .storybntxts {
    text-transform: none;
    margin-top: 3%;
    font-size: 100%;
    font-weight: 200;
    font-family: 'Unica One', cursive;
}

.storytext {
    margin-top: 149.5px;
    font-family: 'Nunito', sans-serif;
}

.storytext h3 {
    background-color: #A3C338;
    font-size: 24px;
    color: white;
    padding-top: 50px;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 50px;
    width: 50%;
}

.storytext h2 {
    font-family: 'Zilla Slab', serif;
    color: #A3C338;
    margin-top: 80px;
    text-transform: uppercase;
    text-align: center;
}

.storytext p {
    margin-top: 25px;
    font-size: 22px;
    margin-left: 25%;
    width: 50%;
    letter-spacing: 0.3px;
}

.sharebtns {
    margin-top: -225px;
    padding: 50px;
    z-index: 300;
}

.sharebtns i {
    z-index: 300;
    padding: 10px;
    border-style: solid;
    color: white;
    border-color: white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 28px;
    margin-left: 10px;
    margin-right: 10px;
}

.readtime {
    padding-left: 600px;
    color: white;
}

.readtime .fa-clock-o {
    border-style: none;
    padding: 0;
    margin: 0;
    margin-left: 350px;
}