html {
    background-color: white;
    color: black;
}

html, body {
    margin: 0;
    padding: 0;
}

.top {
    height: 105px;
    width: 100%;
}

.toplogo {
    filter: invert(100%);
    margin-left: 1%;
    margin-top: 12px;
}

.navbtn {
    text-align: right;
    font-size: 30px;
    margin-right: 20px;
    margin-top: -52px;
}

.section {
    margin-bottom: 60px;
}

.navbtn:hover {
    cursor: pointer;
}

.sidenavoverlay {
    padding-top: 16px;
    background-color: #EFEFEF;
    height: 100%;
    right: 0;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    width: 0;
    transition: 0.3s;
    z-index: 1;
}

.sidenavoverlay ul {
    list-style: none;
}

.navcontent {
    position: relative;
    top: 2%;
    width: 100%;
}

.sidenavoverlay a {
    cursor: pointer;
    font-family: sans-serif;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-weight: 300;
    color: black;
    display: block;
    font-size: 19px;
    padding: 14px;
    text-decoration: none;
    transition: 0.4s;
    width: 200px;
}

.sidenavoverlay a:hover, .sidenavoverlay a:focus {
    color: #555;
    border-color: #555;
}

.sidenavoverlay h3 {
    font-family: sans-serif;
    font-weight: 600;
    color: black;
    display: block;
    font-size: 21px;
    padding: 8px;
    margin-bottom: -1px;
    text-decoration: none;
}

.closebtn {
    border-style: none;
    position: absolute;
    margin-left: 50px;
    font-weight: 900;
    font-size: 320%;
    right: 25px;
    top: 25px;
}

.closebtn:hover {
    cursor: pointer;
    color: #555;
    border-color: #555;
    transition: 0.3s;
}

.event_holder.event_active:nth-child(3n+1) {
    padding-top: 63px;
    left: 0;
    width: 100%;
    margin-bottom: 1px;
    clear: both;
}

.event_holder.event_active:nth-child(3n+1) .eventimg {
    filter: brightness(70%);
    object-fit: cover;
    height: 600px;
    margin-top: -3px;
    width: 100%;
    z-index: -1;
}

.event_holder.event_active:nth-child(3n+1):hover .eventimg {
    filter: brightness(90%);
    transition: 0.3s;
}

.event_holder.event_active:nth-child(3n+1) .eventtxt {
    z-index: 1;
    margin-top: -25%;
    color: white;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.event_holder.event_active:nth-child(3n+1) .eventtxtl {
    font-size: 400%;
    font-weight: 700;
    text-shadow: 10px 10px 10px #444;
}

.event_holder.event_active:nth-child(3n+1) .eventtxtl a, .event_holder.event_active:nth-child(3n+1) .eventtxtm a, .event_holder.event_active:nth-child(3n+1) .eventtxts a {
    color: inherit;
    text-decoration: inherit;
}

.event_holder.event_active:nth-child(3n+1) .eventtxtm {
    margin-top: -2%;
    font-size: 133%;
    font-weight: 400;
    text-shadow: 5px 5px 10px #444;
}

.event_holder.event_active:nth-child(3n+1) .eventtxts {
    text-transform: none;
    margin-top: 3%;
    font-size: 100%;
    font-weight: 200;
    font-family: 'Unica One', cursive;
}

.event_holder.event_active:nth-child(3n+2),
.event_holder.event_active:nth-child(3n+3){
    position: relative;
    width: 49.9%;
    box-sizing: border-box;
    float: left;
}

.event_holder.event_active:nth-child(3n+2):hover .eventimg,
.event_holder.event_active:nth-child(3n+3):hover .eventimg {
    filter: brightness(90%);
    transition: 0.3s;
}

.event_holder.event_active:nth-child(3n+2) {
    margin-right: 1px;
}

.event_holder.event_active:nth-child(3n+2) .eventimg,
.event_holder.event_active:nth-child(3n+3) .eventimg {
    filter: brightness(70%);
    margin-top: 135px;
    object-fit: cover;
    height: 400px;
    width: 100%;
    z-index: -1;
}

.event_holder.event_active:nth-child(3n+2) .eventtxt,
.event_holder.event_active:nth-child(3n+3) .eventtxt{
    z-index: 1;
    margin-top: -30%;
    color: white;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.event_holder.event_active:nth-child(3n+2) .eventtxtl,
.event_holder.event_active:nth-child(3n+3) .eventtxtl{
    font-size: 200%;
    font-weight: 700;
    text-shadow: 10px 10px 10px #444;
}

.event_holder.event_active:nth-child(3n+2) .eventtxtl a, .event_holder.event_active:nth-child(3n+2) .eventtxtm a, .event_holder.event_active:nth-child(3n+2) .eventtxts a,
.event_holder.event_active:nth-child(3n+3) .eventtxtl a, .event_holder.event_active:nth-child(3n+3) .eventtxtm a, .event_holder.event_active:nth-child(3n+3) .eventtxts a {
    color: inherit;
    text-decoration: inherit;
    text-shadow: 1px 1px 4px #888;
}

.event_holder.event_active:nth-child(3n+2) .eventtxtm,
.event_holder.event_active:nth-child(3n+3) .eventtxtm {
    margin-top: -1%;
    font-size: 133%;
    font-weight: 400;
    text-shadow: 5px 5px 10px #444;
}

.event_holder.event_active:nth-child(3n+2) .eventtxts,
.event_holder.event_active:nth-child(3n+3) .eventtxts {
    text-transform: none;
    margin-top: 4%;
    font-size: 100%;
    font-weight: 200;
    font-family: 'Unica One', cursive;
}

.spacing {
    padding-top: 300px;
    padding-bottom: 300px;
}

.loadmorebtn {
    letter-spacing: 2px;
    background-color: #EFEFEF;
    font-family: sans-serif;
    font-weight: 700;
    padding: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s;
    margin-bottom: 30px;
}

.loadmorebtn:hover {
    background-color: #010101;
    color: #EFEFEF;
}

.event_holder {
    transition: 0.4s;
}
.event_holder {        
    display: none;
}
.event_active {
    display: block;
}

#container, .event_holder.event_active:nth-child(3n+1), .minorevent { 
    transition: 0.3s; 
}

.opened .event_holder.event_active:nth-child(3n+1) { 
    margin-left: -14%; 
}

.opened .minorevent { 
    margin-left: -7%; 
}

.opened #sidenav { 
    width: 18%; 
}

.sidenavoverlay h3 {
    margin-left: 35px;
}

.lastitem {
    border-style: outset;
    border-radius: 3px;
}